/*
        BUGS: 
            // On click events with text input respond negatively to using the enter key >:(
            // uhhhhhhhhhhhhhhh
            // cur on lvlsel
*/

html {
    background-color: #FFC83D;
    cursor: url(http://cur.cursors-4u.net/smilies/smi-3/smi204.cur), auto !important;
}
body a a:hover button form input {
    cursor: url(http://cur.cursors-4u.net/smilies/smi-2/smi198.cur), pointer !important;
}

body {
    display: flex; flex-direction: row;
    overflow: hidden; width: 99vw; height: 99vh;
    margin: 0 auto; font-family: monospace, Consolas, monaco;
}

.window {
    width: 600px; height: 400px; background-color: lightcyan;
    margin: 0 auto; z-index: 1; margin-top: 100px;
    border: 1px groove grey; outline: 2px inset gray;
}
.taskbar {
    width: inherit; height: 26px; background-color: pink; 
    display: flex; flex-direction: row;
    font-size: 18px; border-bottom: 1.5px inset black;
}
.taskbar a {
    background-color: silver; font-size: 16px;
    text-decoration: none; color: #000; padding: 0px 5px;
    border: 1px groove goldenrod; outline: 1px inset darkslategray;
}
.tl a {cursor: url(http://cur.cursors-4u.net/smilies/smi-2/smi198.cur), auto !important;}

/* Cheatsheet Next Buttons */
.ts span, #csNext1, #csNext2, #csPrev1, .ls-btns span {cursor: url(http://cur.cursors-4u.net/smilies/smi-3/smi203.cur), auto !important;}
.ls-btns { margin-bottom: 20px; }
.ls-btns.row span { text-decoration: underline; font-size: 21px; padding: 0px 10px; margin: 0 auto; }
/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/

.e1 { font-size: 52px; }    .t1 { font-size: 22px; text-transform: bold; }
.e2 { font-size: 48px; }    .t2 { font-size: 33px; }
.e3 { font-size: 34px; }    .t3 { font-size: 180px; }   .t4 { font-size: 16px; }
.t5 { font-size: 14.5px !important; }
.t6 { font-size: 20px !important; }

.busy { margin: 5px; display: flex; flex-direction: column; }
.busy a { text-decoration: none; color: black; }

/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/
.csNex { padding-left: 48px; }
#cheatsheet {
    width: 450px; height: 226px; background-color: lightcyan;
    z-index: 2; position: relative; margin-top: 233px; margin-left: 54px;
    border: 1px groove grey; outline: 2px inset gray;  
}
/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/

#smiley {
    width: 220px; height: 345px; background-color: lightcyan;
    z-index: 2; position: relative; margin-top: 60px; margin-left: -100px;
    border: 1px groove grey; outline: 2px inset gray;  
}

/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/

.credit {
    width: 275px; height: 20px; background-color: gray;
    border: 2px groove silver; padding-top: 5px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 14px;
}
.credit a { text-decoration: none; color: #000; }

/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/
#gamebox { display: flex; flex-direction: column; width: 590px; height: 372px; }
#gamebox p { text-align: center; font-size: 102px; padding: 0; margin: auto;}
/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/


#cheatsheet, #instructions, #level-select, #lvls-p1, #lvls-p2, #gamebox, #smiley, #cheat-busy, #cheat-busy2, #cheat-busy3, #endgame { display: none; }  

/* ----------------------------------------------
 * Generated by Animista on 2019-11-5 9:56:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */

.levelswrapper {
    width: 590px; height: auto;
    margin: 0 auto;
}
.levelswrapper input {
    display: block; margin: 6px auto;
    width: 585px; height: 45px;
    text-align: center; font-size: 25px;
    background-color: inherit; border: none;
    cursor: url(http://cur.cursors-4u.net/smilies/smi-3/smi202.cur), auto !important;
}
input:focus, select:focus, textarea:focus, button:focus { outline: none; }

.subLvl { display: block; text-align: center; font-size: 17px; padding: 0; margin: 0;}
.subBtn {
    background-color: lightsteelblue; padding: 4px 18px;
    border: 1.5px groove lightslategray;
}
h3 {
    padding: 0 1px; margin: 0;
    margin-top: 10px;
}

.hint span { 
    display: block; 
    text-align: center; padding-bottom: 5.5px;
}
.menuFromBusy { border-top: 1px dashed lightslategray; }
#menuFromBusy { display: block; padding-top: 10px;}

/*-------------------------------------------------------------------*/
#dpab2, #crew3, #bbgh4, #jkyg5, #dder6, #iuhv7, #ooie8, #nvjr9, #oin10, #yyb11, #neh12, #pqw13, #tce14, #vtv15, #vte16, #uhv17, #nuh18, #erd19, #asd20, #vfm21, #mks22, #gvh23, #mee24, #qbm25, #nuj26, #dxh27, #ihu28, #bui29, #pop30, #akz31, #koh32, #klf33, #bhe34, #vca35, #nbh36, #mlp37, #wec38, #nfl39, #evs40

{ display: none; }

/*
    Hints:
*/

#hint1Top, #hint1Bot, #hint2Top, #hint2Bot, #hint3Top, #hint3Bot, #hint4Top, #hint4Bot, #hint5Top, #hint5Bot, #hint6Top, #hint6Bot, #hint7Top, #hint7Bot, #hint8Top, #hint8Bot, #hint9Top, #hint9Bot, #hint10Top, #hint10Bot, #hint11Top, #hint11Bot, #hint12Top, #hint12Bot, #hint13Top, #hint13Bot, #hint14Top, #hint14Bot, #hint15Top, #hint15Bot, #hint16Top, #hint16Bot, #hint17Top, #hint17Bot, #hint18Top, #hint18Bot, #hint19Top, #hint19Bot, #hint20Top, #hint20Bot, #hint21Top, #hint21Bot, #hint22Top, #hint22Bot, #hint23Top, #hint23Bot, #hint24Top, #hint24Bot, #hint25Top, #hint25Bot, #hint26Top, #hint26Bot, #hint27Top, #hint27Bot, #hint28Top, #hint28Bot, #hint29Top, #hint29Bot, #hint30Top, #hint30Bot, #hint31Top, #hint31Bot, #hint32Top, #hint32Bot, #hint33Top, #hint33Bot, #hint34Top, #hint34Bot, #hint35Top, #hint35Bot, #hint36Top, #hint36Bot, #hint37Top, #hint37Bot, #hint38Top, #hint39Bot, #hint40Top, #hint40Bot,
#hintTop, #hintBot
{ display: none; }

/*
    🚵‍♀️🤸🏻‍♂️🏌🏿‍♂️⛹🏼‍♂️👩🏼‍🎨
*/