/*
        BUGS: 
                // On click events with text input respond negatively to using the enter key >:(
*/

html {
    background-color: #FFC83D;
    cursor: url(http://cur.cursors-4u.net/smilies/smi-3/smi204.cur), auto !important;
}
body a a:hover button form input {
    cursor: url(http://cur.cursors-4u.net/smilies/smi-2/smi198.cur), pointer !important;
}

body {
    display: flex; flex-direction: row;
    overflow: hidden; width: 99vw; height: 99vh;
    margin: 0 auto; font-family: monospace, Consolas, monaco;
}

.window {
    width: 600px; height: 400px; background-color: lightcyan;
    margin: 0 auto; z-index: 1; margin-top: 100px;
    border: 1px groove grey; outline: 2px inset gray;
}
.taskbar {
    width: inherit; height: 26px; background-color: pink; 
    display: flex; flex-direction: row;
    font-size: 18px; border-bottom: 1.5px inset black;
}
.taskbar a {
    background-color: silver; font-size: 16px;
    text-decoration: none; color: #000; padding: 0px 5px;
    border: 1px groove goldenrod; outline: 1px inset darkslategray;
}
.ls-btns { margin-bottom: 20px; }
.ls-btns.row span { text-decoration: underline; font-size: 21px; padding: 0px 10px; margin: 0 auto; }
/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/

.e1 { font-size: 52px; }    .t1 { font-size: 22px; text-transform: bold; }
.e2 { font-size: 48px; }    .t2 { font-size: 33px; }
.e3 { font-size: 34px; }    .t3 { font-size: 180px; }   .t4 { font-size: 20px; }

.busy { margin: 5px; display: flex; flex-direction: column; }
.busy a { text-decoration: none; color: black; }

/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/

#cheatsheet {
    width: 450px; height: 225px; background-color: lightcyan;
    z-index: 2; position: relative; margin-top: 233px; margin-left: 54px;
    border: 1px groove grey; outline: 2px inset gray;  
}
/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/

#smiley {
    width: 220px; height: 345px; background-color: lightcyan;
    z-index: 2; position: relative; margin-top: 60px; margin-left: -100px;
    border: 1px groove grey; outline: 2px inset gray;  
}

/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/

.credit {
    width: 275px; height: 20px; background-color: gray;
    border: 2px groove silver; padding-top: 5px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 14px;
}
.credit a { text-decoration: none; color: #000; }

/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/
#gamebox { display: flex; flex-direction: column; width: 590px; height: 372px; }
#gamebox p { text-align: center; font-size: 102px; padding: 0; margin: auto;}
/*=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~=-~*/


#cheatsheet, #instructions, #level-select, #gamebox, #smiley, #cheat-busy { display: none; }  

/* ----------------------------------------------
 * Generated by Animista on 2019-11-5 9:56:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
.levelswrapper {
    width: 590px; height: auto;
    margin: 0 auto;
}
.levelswrapper input {
    display: block; margin: 6px auto;
    width: 585px; height: 50px;
    text-align: center; font-size: 25px;
}

.subLvl {
    text-align: center;
    background-color: skyblue;
}

h3 {
    padding: 0 1px; margin: 0;
    margin-top: 10px;
}

#hint { display: block; }
#menuFromBusy { display: block; }


.subLvl { display: block; padding: 0 5px; }
/*-------------------------------------------------------------------*/
#dbap2, #crew3, #bbgh4, #jkyg5 { display: none; }