html {
    background-color: #FFC83D;
    cursor: url(../css/smiDef.cur), auto !important; /* Default Joy =/ XD */
}
body {
    display: flex; flex-direction: row;
    width: 99vw; height: 99vh; margin: 0 auto;
    font-family: monospace, Consolas, monaco;
    overflow: hidden;
}
.taskbar a, button, form, input {
    cursor: url(../css/smiLoud.cur), pointer !important; /* Yelling */
}
.innerWindow span, #lvlSel a {
    cursor: url(../css/smiJoy.cur), pointer !important; /* Mellow/Flat Smile*/
}
input, input:hover {
    cursor: url(../css/smiKat.cur), pointer !important; /* :3 */
}
.subBtn, .csPrev, .csNext {
    cursor: url(../css/smiEggsDee.cur), pointer !important; /* XD */
}


/*+-+-+-+-+-+-+-+-+-+-+-+-+ ... +-+-+-+-+-+-+-+-+-+-+-+-+*/

#thingstohide, #instructions, #lvlSel, #gamebox, .hiddenLvlSel, .cheatWindow /*.cheatWindow .row*/ {
    display: none;
}

.activeZ {
    z-index: 99999 !important;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+ ... +-+-+-+-+-+-+-+-+-+-+-+-+*/

.window {
    width: 600px; height: 402px; background-color: lightcyan;
    border: 1px groove grey; outline: 2px inset gray;
}

#cheatsheet, #smiley { display: none; }

.taskbar {
    width: inherit; height: 26px; background-color: pink; 
    display: flex; flex-direction: row;
    font-size: 18px; border-bottom: 1.5px inset black;
}
.taskbar a {
    background-color: silver; font-size: 16px;
    text-decoration: none; color: #000; padding: 0px 5px;
    border: 1px groove goldenrod; outline: 1px inset darkslategray;
}

.taskbar span, .taskbar a { font-weight: bold; }

/*
    Aligns taskbar buttons
*/
    .taskbar .db3, .taskbar .db5 {
        margin-top: 1.2px !important; margin-right: 2px;
        text-align: right;
    }

/****************/
    .innerWindow {
        display: flex; flex-direction: column;
        /*background-color: lightgreen;*/ width: 98%; height: 91.5%;
        margin: auto; margin-top: 3px;
    }
    .innerWindow p {
        font-size: 102px;
        margin: 0; text-align: center;
    }

/****************/

    /*
        Forces underline on level #s    AND,
        Forces width for rows
    */

    .lvlSelPg {
        width: 98%; margin: 0 auto;
        text-align: center !important;
    }
    .lvlSelPg .row {
        display: block; width: 99%;
        margin: 20px auto;
    }
    #lvlSel .lvlSelPg a {
        text-decoration: underline !important;
        font-size: 21px; padding: 3px 8px; margin: 4px;
    }

/*+-+-+-+-+-+-+-+-+-+-+-+-+ ... +-+-+-+-+-+-+-+-+-+-+-+-+*/

#busy {
    top: 14%; margin: auto;
}
    #menuFromBusy { border-top: 1px dashed lightslategray; }
    #menuFromBusy { display: block; padding-top: 10px;}

    .level { display: none; }
    .level h3 {
        padding: 0 1px; margin: 0; text-align: left !important;
        margin-top: 10px; font-size: 18.72px !important;
    }

    .level input {
        display: block; margin: 6px auto;
        width: 585px; height: 45px;
        text-align: center; font-size: 25px;
        background-color: inherit; border: none;
        margin: 8px 0;
    }
    input:focus, select:focus, textarea:focus, button:focus { outline: none; }

    .level .submitBtnMass {
        display: block; text-align: center;
        padding: 52px auto;
    }
    .level .subBtn {
        background-color: lightsteelblue; padding: 4px 18px;
        border: 1.5px groove lightslategray; font-size: 17px;
    }

    .level aside {
        text-align: center;
        padding: 3px 0;
    }

    .hintBtm { display: none; }

#cheatsheet {
    width: 450px; height: 226px; background-color: lightcyan;
    z-index: 0; position: relative; margin-top: 233px; margin-left: 54px;
    border: 1px groove grey; outline: 2px inset gray;
}

#cheatPasslock .t7 { font-size: 22px; }
#cheatPasslock form span {
    background-color: gainsboro; border: 1px solid gray;
    font-size: 14.5px; padding: 3px 2px;
}

#smiley {
    width: 220px; height: 345px; background-color: lightcyan;
    z-index: 0; position: relative; margin-top: 60px; margin-left: -100px;
    border: 1px groove grey; outline: 2px inset gray;
}

#smiley form { margin: 0 auto; text-align: center; padding-top: 5px; }
#smiley form textarea {
    margin: 5px auto;
    max-width: 205.5px; max-height: 162px;
}

#cheatsheet .taskbar .db3, #smiley .taskbar .db3 {
    margin: 3.5px auto !important;
}
#cheatsheet .taskbar a, #smiley .taskbar a {
    margin-right: 2.5px;
}

.cheatWindow { margin-left: 9px; margin-top: 5px; }

#smiley .t0016 { margin-top: 5px; }